<div *ngIf="activeList === null">
  <h3>Select or Create a List</h3>
</div>

<div *ngIf="activeList !== null">
  <div class="d-flex flex-row">
    <h3 class="mr-auto">{{ activeList.name }}</h3>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownListOptions" ngbDropdownToggle></button>
      <div ngbDropdownMenu aria-labelledby="dropdownListOptions">
        <button ngbDropdownItem>Open All</button>
        <button ngbDropdownItem>Delete</button>
      </div>
    </div>
  </div>

  <form class="form-inline my-2 my-lg-0"
        (ngSubmit)="addLink()">
    <input id="new-link-url-field"
           class="form-control mr-sm-2"
           [formControl]="urlControl"
           type="text"
           placeholder="URL"
           aria-label="URL">
    <button class="btn btn-secondary my-2"
            [disabled]="!urlControl.valid || requestState === RequestStateEnum.LOADING"
            [ngSwitch]="requestState"
            type="submit">
        <span *ngSwitchDefault>
          <i class="fa fa-plus"></i>
        </span>

      <span *ngSwitchCase="RequestStateEnum.LOADING">
          <i class="fa fa-gear fa-spin"></i>
        </span>

      <span *ngSwitchCase="RequestStateEnum.SUCCESS">
          <i class="fa fa-check"></i>
        </span>

      <span *ngSwitchCase="RequestStateEnum.ERROR">
          <i class="fa fa-exclamation"></i>
        </span>
    </button>
  </form>


  <ul class="list-group">
    <li *ngFor="let link of activeList.links"
        class="list-group-item">
      <div>
        <div class="d-flex w-100 justify-content-between">
          <a class="mb-1"
             target="_blank"
             [href]="link.url">
            {{ link.title }}
          </a>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary btn-sm" id="dropdownLinkOptions-{{link.id}}" ngbDropdownToggle></button>
            <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownLinkOptions-' + link.id">
              <button ngbDropdownItem>Delete</button>
            </div>
          </div>
        </div>

        <small>{{ link.url }}</small>
      </div>
    </li>
  </ul>
</div>
