<ng-template #loadingList>
  <div>
    <h3>Loading...</h3>
  </div>
</ng-template>

<div *ngIf="list !== null; else loadingList">
  <div class="d-flex flex-row">
    <h3 class="mr-auto">{{ list.name }}</h3>
    <div>
      <button (click)="openAll()"
              class="btn btn-outline-secondary mr-1">
        Open All
      </button>
      <div class="d-inline-block" ngbDropdown>
        <button class="btn btn-outline-secondary" id="dropdownListOptions" ngbDropdownToggle></button>
        <div aria-labelledby="dropdownListOptions" ngbDropdownMenu>
          <button (click)="deleteList()"
                  ngbDropdownItem>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="addLink()"
        class="form-inline my-2 my-lg-0">
    <input [formControl]="urlControl"
           aria-label="URL"
           class="form-control mr-sm-2"
           id="new-link-url-field"
           placeholder="URL"
           type="text">
    <button [disabled]="!urlControl.valid || (linkCreateLoading$ | async)"
            class="btn btn-secondary my-2"
            type="submit">
        <span *ngIf="!(linkCreateLoading$ | async)">
          <i class="fa fa-plus"></i>
        </span>

      <span *ngIf="linkCreateLoading$ | async">
          <i class="fa fa-gear fa-spin"></i>
        </span>
    </button>
  </form>

  <p *ngIf="linkRetrieveLoading$ | async">
    Loading...
  </p>

  <ul *ngIf="links$ | async as links" class="list-group">
    <li *ngFor="let link of links"
        class="list-group-item">
      <div>
        <div class="d-flex w-100 justify-content-between">
          <a [href]="link.url"
             class="mb-1"
             target="_blank">
            {{ link.title }}
          </a>

          <div aria-label="Toolbar with button groups"
               class="btn-toolbar"
               role="toolbar">
            <div aria-label="Second group" class="btn-group mr-2" role="group">
              <div class="d-inline-block" ngbDropdown>
                <button class="btn btn-outline-secondary"
                        [id]="'dropdownListOptions-' + link.id"
                        ngbDropdownToggle></button>
                <div [attr.aria-labelledby]="'dropdownListOptions-' + link.id"
                     ngbDropdownMenu>
                  <button (click)="deleteLink(link)"
                          ngbDropdownItem>
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <small>{{ link.url }}</small>
      </div>
    </li>
  </ul>
</div>
