<ng-template #loadingList>
  <div>
    <h3>Loading...</h3>
  </div>
</ng-template>

<div *ngIf="list !== null; else loadingList">
  <div class="d-flex flex-row">
    <h3 class="mr-auto">{{ list.name }}</h3>
    <div>
      <div [(ngModel)]="displayMode"
           class="btn-group btn-group-toggle mr-1"
           name="radioBasic"
           ngbRadioGroup>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input ngbButton type="radio" value="list"> List
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input ngbButton type="radio" value="cards"> Cards
        </label>
      </div>
      <button (click)="openAll()"
              class="btn btn-outline-primary mr-1 d-none d-md-inline-block">
        Open All
      </button>
      <div class="d-inline-block" ngbDropdown>
        <button class="btn btn-outline-secondary" id="dropdownListOptions" ngbDropdownToggle></button>
        <div aria-labelledby="dropdownListOptions" ngbDropdownMenu>
          <button (click)="deleteList()"
                  ngbDropdownItem>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="addLink()"
        class="form-inline my-2 my-lg-0">
    <input [formControl]="urlControl"
           aria-label="URL"
           class="form-control mr-sm-2"
           id="new-link-url-field"
           placeholder="URL"
           type="text">
    <button [disabled]="!urlControl.valid || (linkCreateLoading$ | async)"
            class="btn btn-secondary my-2"
            type="submit">
        <span *ngIf="(linkCreateLoading$ | async) === false">
          <i class="fa fa-plus"></i>
        </span>

      <span *ngIf="linkCreateLoading$ | async">
          <i class="fa fa-gear fa-spin"></i>
        </span>
    </button>
  </form>

  <p *ngIf="linkRetrieveLoading$ | async">
    Loading...
  </p>

  <div *ngIf="links$ | async as links"
       [ngSwitch]="displayMode">
    <div *ngSwitchCase="'list'">
      <ul (cdkDropListDropped)="handleLinkDropped($event)"
          cdkDropList
          class="list-group">
        <li *ngFor="let link of links"
            cdkDrag
            class="list-group-item">
          <div>
            <div class="d-flex w-100 flex-row">
              <i cdkDragHandle
                 class="fa fa-lg fa-arrows movable align-self-center mr-3"></i>

              <div class="flex-grow-1">
                <p>
                  <a [href]="link.url"
                     (click)="onLinkVisit(link)"
                     target="_blank">
                    {{ link.title }}
                  </a>
                </p>

                <small>{{ link.url }}</small>

              </div>

              <div class="btn-group btn-group-sm mr-2" role="group">
                <div class="d-inline-block" ngbDropdown>
                  <button [id]="'dropdownListOptions-' + link.id"
                          class="btn btn-sm btn-outline-secondary"
                          ngbDropdownToggle></button>
                  <div [attr.aria-labelledby]="'dropdownListOptions-' + link.id"
                       ngbDropdownMenu>
                    <button (click)="transferLink(link)"
                            ngbDropdownItem>
                      Transfer
                    </button>
                    <button (click)="deleteLink(link)"
                            ngbDropdownItem>
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>

      <div class="d-flex">
        <span class="small my-1 ml-auto">
          Pro-tip: drag and drop to re-order!
        </span>
      </div>
    </div>

    <div *ngSwitchCase="'cards'">
      <div class="row row-cols-1">
        <div *ngFor="let link of links"
             class="col mb-4">
          <div class="card">
            <a [href]="link.url"
               (click)="onLinkVisit(link)"
               target="_blank">
              <img *ngIf="link.imageUrl"
                   [src]="link.imageUrl"
                   alt="Link preview"
                   class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                {{ link.title }}
              </h5>
              <a [href]="link.url"
                 (click)="onLinkVisit(link)"
                 class="card-subtitle mb-2 text-muted h6"
                 target="_blank">
                {{ link.url }}
              </a>
              <p *ngIf="link.description"
                 class="card-text">
                {{ link.description }}
              </p>
            </div>
            <div class="card-footer w-100 d-flex flex-row">
              <div class="d-flex flex-column justify-content-center">
                <span class="small text-muted">
                  {{ link.visits }} visit(s)
                </span>
              </div>
              <div class="btn-group btn-group-sm ml-auto" role="group">
                <div class="d-inline-block" ngbDropdown>
                  <button [id]="'dropdownListOptions-' + link.id"
                          class="btn btn-sm btn-outline-secondary"
                          ngbDropdownToggle></button>
                  <div [attr.aria-labelledby]="'dropdownListOptions-' + link.id"
                       ngbDropdownMenu>
                    <button (click)="transferLink(link)"
                            ngbDropdownItem>
                      Transfer
                    </button>
                    <button (click)="deleteLink(link)"
                            ngbDropdownItem>
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
