<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Linkanizer</h1>
    <p class="lead">
      This project is built with Angular, Django, and so many amazing open source libraries. This project is licensed
      GPLv3+.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/linkanizer" role="button">Project Github &raquo;</a>
    </p>
    <hr class="my-4">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This exciting and unique project brought to you by Tristan Kernan.
    </p>
    <p>
      <a class="btn btn-primary btn-lg mr-1" href="https://www.tmk.name/" role="button">My Site &raquo;</a>
      <a class="btn btn-primary btn-lg" href="https://github.com/tristanmkernan" role="button">My Github &raquo;</a>
    </p>
  </div>
</div>
